html {
  color: #333;
}
body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "Microsoft YaHei";
}
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
input,
button {
  font-family: "Microsoft YaHei";
}
a {
  text-decoration: none;
  color: #333;
}
#cat_video {
  width: 100%;
  margin: 0 auto;
}
.back_btn {
  padding: 1rem;
  border-radius: .2rem;
  box-shadow: inset 0 0.3rem 0 rgba(255, 255, 255, 0.4), inset 0 -0.5rem 0 rgba(0, 0, 0, 0.5);
}
#v_container {
  text-align: center;
  width: 100%;
  background: #000000;
}
#v_container .btn {
  border-radius: .5rem;
  line-height: 5rem;
  background: rosybrown;
  box-shadow: inset 0 0.3rem 0 rgba(255, 255, 255, 0.4), inset 0 -0.5rem 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  display: block;
  width: 20rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  bottom: 10rem;
  margin-left: -10rem;
}
#v_container .btn:hover {
  cursor: pointer;
}
#v_container .x {
  font-size: 2rem;
  display: block;
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #ffff00;
  right: 4rem;
  top: 5rem;
  line-height: 3rem;
  text-align: center;
}
.box {
  display: none;
  margin: 0 auto;
  width: 100rem;
}
.box .left_box,
.box .middle_box,
.box .right_box {
  position: fixed;
  width: 100rem;
}
.box .left_box {
  background-image: url(../bg-img/bg_5.jpg);
  left: -100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: 5rem;
}
.box .left_box #left_back {
  color: #fff;
  background: #0000ff;
  font-size: 2rem;
  position: absolute;
  left: 4rem;
  top: 5rem;
  z-index: 2;
  padding: 1rem;
  border-radius: .2rem;
  box-shadow: inset 0 0.3rem 0 rgba(255, 255, 255, 0.4), inset 0 -0.5rem 0 rgba(0, 0, 0, 0.5);
}
.box .left_box #parent {
  width: 100%;
  height: 20rem;
  padding: 10px;
  /*假定 人眼 到投射平面的距离*/
  -webkit-perspective: 1000px;
  margin: 0 auto;
}
.box .left_box #container {
  margin: 0 auto;
  width: 60rem;
  height: 20rem;
  position: relative;
  top: 5rem;
  /*旋转*/
  /*transform:rotatex(-30deg) rotatey(0deg);*/
  /*将当前元素变为3d元素*/
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: scroll 15s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
}
.box .left_box #container a > span {
  display: inline-block;
  width: 100%;
  color: aliceblue;
  background: #E4393c;
  text-align: center;
}
.box .left_box #container:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: rotatex(0deg) rotatey(0deg);
    -webkit-transform: rotatex(0deg) rotatey(0deg);
  }
  100% {
    transform: rotatex(0deg) rotatey(360deg);
    -webkit-transform: rotatex(0deg) rotatey(360deg);
  }
}
@-webkit-keyframes scroll {
  0% {
    transform: rotatex(0deg) rotatey(0deg);
    -webkit-transform: rotatex(0deg) rotatey(0deg);
  }
  100% {
    transform: rotatex(0deg) rotatey(360deg);
    -webkit-transform: rotatex(0deg) rotatey(360deg);
  }
}
.box .left_box #container a {
  display: block;
  width: 20rem;
  height: 10rem;
  background: #2080BD;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  position: absolute;
  left: 37.5%;
  top: 50%;
}
.box .left_box #container a:nth-child(1) {
  transform: rotatey(0deg) translatez(20rem);
  -webkit-transform: rotatey(0deg) translatez(20rem);
}
.box .left_box #container a:nth-child(2) {
  transform: rotatey(60deg) translatez(20rem);
  -webkit-transform: rotatey(60deg) translatez(20rem);
}
.box .left_box #container a:nth-child(3) {
  transform: rotatey(120deg) translatez(20rem);
  -webkit-transform: rotatey(120deg) translatez(20rem);
}
.box .left_box #container a:nth-child(4) {
  transform: rotatey(180deg) translatez(20rem);
  -webkit-transform: rotatey(180deg) translatez(20rem);
}
.box .left_box #container a:nth-child(5) {
  transform: rotatey(240deg) translatez(20rem);
  -webkit-transform: rotatey(240deg) translatez(20rem);
}
.box .left_box #container a:nth-child(6) {
  transform: rotatey(300deg) translatez(20rem);
  -webkit-transform: rotatey(300deg) translatez(20rem);
}
.box .middle_box {
  background: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.box .right_box {
  background: url(../bg-img/bg4.png);
  left: 100%;
  width: 100rem;
  min-height: 100rem;
}
.box .right_box #right_back {
  background: #333333;
  font-size: 2rem;
  position: absolute;
  left: 4rem;
  top: 5rem;
  padding: 1rem;
  border-radius: .2rem;
  box-shadow: inset 0 0.3rem 0 rgba(255, 255, 255, 0.4), inset 0 -0.5rem 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}
.middle_container {
  height: 40rem;
  position: absolute;
  left: 50%;
  width: 30rem;
  margin-left: -15rem;
  background-image: url(../img/11-small-noeye_02.png);
  background-size: 30rem;
  z-index: 2;
}
.middle_container #left_select,
.middle_container #right_select {
  position: absolute;
  width: 10rem;
  height: 15rem;
  top: 10rem;
  z-index: 5;
}
.middle_container #left_select {
  background-image: url(../img/fish_small.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  left: -10rem;
}
.middle_container #right_select {
  background-image: url(../img/mouse_small01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  right: -10rem;
}
.middle_container #eye {
  position: absolute;
  background-image: url(../img/eye1.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  box-sizing: border-box;
  top: 11.3rem;
  left: 11.4rem;
  width: 6.2rem;
  height: 3rem;
}
.test_border1 {
  border: 1px solid #ffff00;
}
.test_border2 {
  border: 1px solid #E4393c;
}
.test_box {
  box-sizing: border-box;
}
.menu {
  overflow: hidden;
  background: #ededed;
  height: 100px;
  margin-top: 0;
}
.menu > #right_back {
  margin-top: 5px;
}
.menu ul.tabs {
  width: 60%;
  margin: 0 auto;
  list-style: none;
  height: 100px;
}
.menu ul.tabs li {
  margin-top: -14px;
  float: left;
  width: 116px;
  text-align: center;
  height: 112px;
}
.menu ul.tabs li a {
  background-repeat: no-repeat;
  position: relative;
  background-image: url("../bg-img/sprite.png");
}
.menu ul.tabs li a.active {
  background-position-x: -90px;
  color: #FDC62A;
}
.menu ul.tabs .profile {
  background-position: 0px -10px;
}
.menu ul.tabs .resume {
  background-position: 0px -125px;
}
.menu ul.tabs .photo {
  background-position: 0px -216px;
}
.menu ul.tabs .xx {
  background-position: 0px -323px;
}
.menu ul.tabs li:hover {
  margin-top: -15px;
  background-image: url("../bg-img/tab-hover.png");
}
.menu ul.tabs li.active {
  margin-top: -15px;
  background-image: url("../bg-img/tab-hover.png");
  background-repeat: no-repeat;
}
.menu ul.tabs li a {
  width: 100%;
  font-size: 20px;
  height: 30px;
  display: block;
  padding-top: 70px;
}
.pull_tab {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  margin-top: -3px;
  display: none;
  padding: 5rem;
  position: relative;
}
.pull_tab * {
  overflow: hidden;
}
#tab1 {
  height: 25rem;
  color: white;
  font-size: 16px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
#tab1 .margin_t40 {
  margin-top: 2.5rem;
}
#tab1 h3 {
  margin-bottom: 15px ;
}
#tab1 img {
  width: 12rem ;
  position: absolute;
  left: 6rem;
  top: 5rem;
  box-shadow: #333333 0 0 20px;
}
#tab1 .container > div {
  position: absolute;
  left: 20rem;
  width: 80rem;
}
#tab2 .container {
  width: 100%;
}
#tab3 h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  height: 38px;
  line-height: 38px;
}
#tab3 h3 {
  font-size: 1.5rem;
  margin-bottom: 1.8rem;
}
#tab4 {
  overflow: scroll;
  font-size: 18px;
}
#tab4 h1 {
  margin-bottom: 40px;
  height: 38px;
  line-height: 38px;
}
#tab4 .accordion > .title {
  background: #eee;
  border: 1px solid #aaa;
  padding: 6px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
#tab4 .accordion > .content {
  display: none;
  border: 1px solid #aaa;
  padding: 6px;
  max-height: 550px;
  overflow: scroll;
}
#tab4 .accordion > .content a {
  text-decoration: underline;
}
